<h2>Products</h2>

<button type="button" class="button2" (click)="sayHello('nombre generico')">Hi</button>

<div *ngFor="let product of products">
  <h3>
    <a [title]="product.description + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    {{ product.description }}
  </p>
  <p *ngIf="product.discount">
    On a discount of {{ product.discount }}% !
  </p>

  <button type="button" (click)="share()">Share</button>
  
  <app-product-alerts [product]="product"></app-product-alerts>


</div>
